{% extends "page.html.twig" %}

{%  block logo_section %}
  <a class="logo-link" href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home" style="background:url({{ logo }})" >
    {{ site_name }}
  </a>
{% endblock %}